<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1><span class="italic">R A Y</span> Bakery</h1>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-2">
            <a href=""><i class="pi pi-envelope" style="color: wheat"></i></a>
            <a href=""><i class="pi pi-instagram" style="color: wheat"></i></a>
            <a href=""><i class="pi pi-github" style="color: wheat"></i></a>
        </div>
    </div>
</div>