/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root 
{
    --primary-color: #3FC060;
    --secondary-color: #162328;
}

body
{
    height: 100vh;
}

.italic {
    font-style: italic;
  }

